{% load static %}
{% include 'base.html' %}
<style>
.question_mark {
    position: relative;
    display: inline-block;
}

.question_mark .popup {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    top: -10px;
    left: 30px;
    width: 200px;
    background-color: #fff;
    color: #000;
    text-align: center;
    padding: 10px;
    padding-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}


.question_mark:hover .popup {
    visibility: visible;
}

</style>
{% block content %}


  <div class="content-wrapper bg-dark">
    <!-- Content -->

    <div class="bg-dark text-white container-xxl flex-grow-1 container-p-y">
        <div class="row bg-dark">
                {% if profil.id == user.id %}
                <div class="col-md-12 ">
                  <div class="card bg-dark mb-4">
                    <h5 class="card bg-dark">Détails du profil</h5>
                    <!-- Account -->
                    <hr class="my-0" />
                    <div class="card bg-dark">
                      <form id="formAccountSettings" method="POST" action="{% url 'update_user' user.id %}" enctype="multipart/form-data">
                      {% csrf_token %}
                      <input hidden name="id_user" value="{{ user.id }}">
                        <div class="card-body bg-dark">
                          <div class="d-flex align-items-start align-items-sm-center gap-4">

    <img src="{% if profil.photo == True %}{{ profil.photo.url }}{% else %}{% static 'images/profile1.jpg' %}{% endif %}" alt="{{ profil.username }}" class="d-block rounded" height="100" width="100" id="uploadedAvatar">

  <div class="button-wrapper">
    <label for="upload" class="btn btn-secondary me-2 mb-4" tabindex="0">
      <span class="d-none d-sm-block">Nouvelle photo</span>
      <i class="bx bx-upload d-block d-sm-none"></i>
      <input name="img" type="file" id="upload" hidden class="account-file-input" accept="image/png, image/jpeg">
    </label>
  </div>
</div>



                    </div>
                        <div class="row">
                          <div class="mb-3 col-md-6">
                            <label for="firstName" class="form-label">Prénom</label>
                            <input
                              style="border: 1px solid #7f5a07 !important;background-color: #191C24"
                              class="form-control"
                              type="text"
                              id="firstName"
                              name="firstName"
                              value="{{ profil.first_name }}"
                              autofocus
                            />
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="lastName" class="form-label">Nom</label>
                            <input style="border: 1px solid #7f5a07 !important;background-color: #191C24" class="form-control" type="text" name="lastName" id="lastName" value="{{ profil.last_name }}" />
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="Pseudonyme" class="form-label">Pseudonyme</label>
                            <input style="border: 1px solid #7f5a07 !important;background-color: #191C24" class="form-control" type="text" name="Pseudonyme" id="Pseudonyme" value="{{ profil.username }}" />
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="email" class="form-label">E-mail</label>
                            <input
                              class="form-control"
                              type="text"
                              id="email"
                              name="email"
                              value="{{ profil.email }}"
                              placeholder="john.doe@example.com"
                              style="border: 1px solid #7f5a07 !important;background-color: #191C24"
                            />
                          </div>
                          <div class="mb-3 col-md-6">
                          <label for="email" class="form-label">Pays</label>
                          <select name="pays" aria-controls="pays" style="border: 1px solid #7f5a07 !important;background-color: #191C24" class="form-select mb-3" aria-label="Default select example" id="country-select">
                              <option value="">{% if profil.country %}{{ profil.country }}{% else %}Choisissez un pays{% endif %}</option>
                            </select>
                          </div>

                            <script>
                                fetch('https://restcountries.com/v3.1/all')
  .then(response => response.json())
  .then(countries => {
    // Call a function to update the select element with the list of countries
    updateCountrySelect(countries);
  })
  .catch(error => console.error(error));
function updateCountrySelect(countries) {
  const selectElement = document.getElementById('country-select');
  countries.forEach(country => {
    const optionElement = document.createElement('option');
    optionElement.value = country.name.common;
    optionElement.textContent = country.name.common;
    selectElement.appendChild(optionElement);
  });
}
document.getElementById('country-select').addEventListener('change', (event) => {
  const selectedCountry = event.target.value;
  // Call a function to display more information about the selected country
  displayCountryInfo(selectedCountry);
});

                            </script>
                          <div class="mb-3 col-md-6">
                            <label for="bio" class="form-label">Bio</label>
                            <input
                              type="text"
                              class="form-control"
                              id="bio"
                              name="bio"
                              value="{{ profil.bio }}"
                               style="border: 1px solid #7f5a07 !important;background-color: #191C24"
                            />
                          </div>
                          <div class="mb-3 col-md-6">
                            <label class="form-label" for="phoneNumber">N° de téléphone</label>
                            <div class="input-group input-group-merge">
                              <input
                                type="text"
                                id="phoneNumber"
                                name="phoneNumber"
                                class="form-control"
                                value="{{ profil.phone_number }}"
                                 style="border: 1px solid #7f5a07 !important;background-color: #191C24"
                              />
                            </div>
                          </div>

                          <div class="mb-3 col-md-6">
                            <label for="state" class="form-label">Code Chaine YouTube</label>
                            <input style="border: 1px solid #7f5a07 !important;background-color: #191C24" class="form-control" value="{% if profil.id_youtube_ch %}{{ profil.id_youtube_ch }}{% else %}{% endif %}" type="text" id="state" name="id_ytb" placeholder="Code d'fidentifiant de votre chaine yotube" />
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="zipCode" class="form-label">Dons</label>
                              <div class="form-check form-switch">
                                    <input style="background-color: #664d03;background-color: #191C24;" name="Active_don" class="form-check-input" type="checkbox" role="switch"
                                        id="flexSwitchCheckChecked" {% if profil.Active_don %} checked {% endif %}>
                                    <label class="form-check-label" for="flexSwitchCheckChecked">Avec l'acceptation 15/85{% if profil.Active_don %} (Activée) {% else %} (desactivée) {% endif %}</label>
                                </div>
                          </div>
                        <div class="question_mark">
                            <i class="fa fa-question-circle" aria-hidden="true"></i>
                            <div class="popup">
                                <p>Vos dons permettent de soutenir MunTube, la plateforme de la Communauté Noire sans publicité, sans censure et sans revente de vos données</p>
                            </div>
                        </div>
                        <script>
                            // Récupération de la popup et du point d'interrogation
var popup = document.querySelector('.question_mark .popup');
var questionMark = document.querySelector('.question_mark i');

// Ajout de l'événement "mouseenter" au point d'interrogation
questionMark.addEventListener('mouseenter', function() {
    popup.style.visibility = 'visible';
});

// Ajout de l'événement "mouseleave" à la popup
popup.addEventListener('mouseleave', function() {
    popup.style.visibility = 'hidden';
});

                        </script>


                        <div class="mt-2">
                          <button type="submit" class="btn btn me-2" style="background-color: #533f03; color: white">Sauvegarder</button>
                        </div>
                      </form>
                    </div>

                    <!-- /Account -->
                  </div>

                </div>
                {% endif %}

              </div>
            </div>
  </div>
<div class="mb-lg-5"></div>

{% endblock %}
{% include 'footer.html' %}