{% load static %}

{% block content %}
{% include 'base.html' %}

  <div class="content-wrapper bg-dark">
    <!-- Content -->

    <div class="bg-dark text-white container-xxl flex-grow-1 container-p-y">
        <div class="row bg-dark">
            {% for info in profil %}
                {% if info.id == user.id %}
                <div class="col-md-12 ">
                  <div class="card bg-dark mb-4">
                    <h5 class="card bg-dark">Détails du profil</h5>
                    <!-- Account -->

                    <hr class="my-0" />
                    <div class="card bg-dark">
                      <form id="formAccountSettings" method="POST" action="{% url 'update_user' request.user.id %}">
                      <input hidden name="id_user" value="{{ user.id }}">
                        <div class="card-body bg-dark">
                      <div class="d-flex align-items-start align-items-sm-center gap-4">
                        {% if v.user.is_superuser %}
                        <img
                          src="{{ user.photo.url }}"
                          alt="user-avatar"
                          class="d-block rounded"
                          height="100"
                          width="100"
                          id="uploadedAvatar"
                        />
                        {% else %}
                            {% if info.photo %}
                            <img
                          src="{{ info.photo }}"
                          alt="user-avatar"
                          class="d-block rounded"
                          height="100"
                          width="100"
                          id="uploadedAvatar"
                        />
                                {% else %}
                                <img
                          src="{{ info.photo.url }}"
                          alt="user-avatar"
                          class="d-block rounded"
                          height="100"
                          width="100"
                          id="uploadedAvatar"
                        />
                                {% endif %}
                        {% endif %}
                        <div class="button-wrapper">
                          <label for="upload" class="btn btn-secondary me-2 mb-4" tabindex="0">
                            <span class="d-none d-sm-block">Télécharger une nouvelle photo</span>
                            <i class="bx bx-upload d-block d-sm-none"></i>
                            <input
                                    name="img"
                              type="file"
                              id="upload"
                              class="account-file-input"
                              hidden
                              accept="image/png, image/jpeg"
                            />
                          </label>
                          <!--<button type="button" class="btn btn-outline-secondary account-image-reset mb-4">
                            <i class="bx bx-reset d-block d-sm-none"></i>
                            <span class="d-none d-sm-block">Reset</span>
                          </button>-->

                          <p class="text-muted mb-0">JPG, GIF ou PNG autorisés. Taille maximale de 800K</p>
                        </div>
                      </div>
                    </div>
                        <div class="row">
                          <div class="mb-3 col-md-6">
                            <label for="firstName" class="form-label">Prénom</label>
                            <input
                              style="border: 1px solid #7f5a07 !important;"
                              class="form-control"
                              type="text"
                              id="firstName"
                              name="firstName"
                              value="{{ info.first_name }}"
                              autofocus
                            />
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="lastName" class="form-label">Nom</label>
                            <input style="border: 1px solid #7f5a07 !important;" class="form-control" type="text" name="lastName" id="lastName" value="{{ info.last_name }}" />
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="Pseudonyme" class="form-label">Pseudonyme</label>
                            <input style="border: 1px solid #7f5a07 !important;" class="form-control" type="text" name="Pseudonyme" id="Pseudonyme" value="{{ info.username }}" />
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="email" class="form-label">E-mail</label>
                            <input
                              class="form-control"
                              type="text"
                              id="email"
                              name="email"
                              value="{{ info.email }}"
                              placeholder="john.doe@example.com"
                              style="border: 1px solid #7f5a07 !important;"
                            />
                          </div>
                          <div class="mb-3 col-md-6">
                          <label for="email" class="form-label">Pays</label>
                          <select name="pays" aria-controls="pays" style="border: 1px solid #7f5a07 !important;" class="form-select mb-3" aria-label="Default select example" id="country-select">
                              <option value="">Choisissez un pays</option>
                            </select>
                          </div>

                            <script>
                                fetch('https://restcountries.com/v3.1/all')
  .then(response => response.json())
  .then(countries => {
    // Call a function to update the select element with the list of countries
    updateCountrySelect(countries);
  })
  .catch(error => console.error(error));
function updateCountrySelect(countries) {
  const selectElement = document.getElementById('country-select');
  countries.forEach(country => {
    const optionElement = document.createElement('option');
    optionElement.value = country.name.common;
    optionElement.textContent = country.name.common;
    selectElement.appendChild(optionElement);
  });
}
document.getElementById('country-select').addEventListener('change', (event) => {
  const selectedCountry = event.target.value;
  // Call a function to display more information about the selected country
  displayCountryInfo(selectedCountry);
});

                            </script>
                          <div class="mb-3 col-md-6">
                            <label for="organization" class="form-label">Bio</label>
                            <input
                              type="text"
                              class="form-control"
                              id="organization"
                              name="bio"
                              value=""
                               style="border: 1px solid #7f5a07 !important;"
                            />
                          </div>
                          <div class="mb-3 col-md-6">
                            <label class="form-label" for="phoneNumber">N° de téléphone</label>
                            <div class="input-group input-group-merge">
                              <span class="input-group-text">{{ info.country }}</span>
                              <input
                                type="text"
                                id="phoneNumber"
                                name="phoneNumber"
                                class="form-control"
                                placeholder="22 5505 0111"
                                 style="border: 1px solid #7f5a07 !important;"
                              />
                            </div>
                          </div>

                          <div class="mb-3 col-md-6">
                            <label for="state" class="form-label">Code Chaine YouTube</label>
                            <input style="border: 1px solid #7f5a07 !important;" class="form-control" type="text" id="state" name="id_ytb" placeholder="UCKk4XQXSquh88TnnoQf6MVg" />
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="zipCode" class="form-label">Dons</label>
                              <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch"
                                        id="flexSwitchCheckChecked"checked>
                                    <label class="form-check-label" for="flexSwitchCheckChecked">Avec l'acceptation 15/85</label>
                                </div>
                          </div>


                        <div class="mt-2">
                          <button type="submit" class="btn btn me-2" style="background-color: #533f03; color: white">Sauvegarder</button>
                          <button type="reset" class="btn btn-outline-secondary" style="background-color: rgb(186,121,0);color: white">Annuler</button>
                        </div>
                      </form>
                    </div>

                    <!-- /Account -->
                  </div>

                </div>
                {% endif %}
            {% endfor %}
              </div>
            </div>
  </div>
<div class="mb-lg-5"></div>

{% endblock %}
{% include 'footer.html' %}