{% load static %}
<div class="height-100 bg-light">

<!-- main content -->
<div class="row main_container">

	<!-- Recommended section -->
<div class="container-fluid">
    <div class="grid_title"><h2>Mes vidéos</h2></div>
	<div class="row">
		<div class="col-md-4 col-sx-10 p-2">
			<a href="">
				<div class="card">
					<img src="{% static 'images/ABLACKADABRA.png' %}" alt="image" height="174" />
					<div class="row">
						<div class="col-2 mt-3">
							<img id="img" width="48" src="{% static 'images/logo user.jpg' %}" class="rounded-circle">
						</div>
						<div class="col-10 mt-3">
							<p class="text-dark mb-2" title="Ablackadabra est un site exclusivement dédié à la Communauté Noire internationale. Plus qu’un simple site Internet, c’est un lieu de participation collaborative dédié à l’émancipation intellectuelle, financière et spirituelle du Peuple Noir">Un Modèle Économique Profitable À Tous</p>
							<p style="color:#606060;">
								T-Series <i class="fas fa-check-circle"></i><br>
								70M views 7 months ago
							</p>
						</div>

					</div>
				</div>
			</a>
		</div>
		<div class="col-md-4 p-2">
			<a href="">
				<div class="card">
					<img src="{% static 'images/ABLACKADABRA.png' %}" alt="image" height="174" />
					<div class="row">
						<div class="col-2 mt-3">
							<img id="img" width="48" src="{% static 'images/logo user.jpg' %}" class="rounded-circle">
						</div>
						<div class="col-10 mt-3">
							<p class="text-dark mb-2" title="Ablackadabra est un site exclusivement dédié à la Communauté Noire internationale. Plus qu’un simple site Internet, c’est un lieu de participation collaborative dédié à l’émancipation intellectuelle, financière et spirituelle du Peuple Noir">Ablackadabra est un site exclusivement dédié à la Communauté Noire internationale. Plus qu’un simple site Internet, c’est un lieu de participation collaborative dédié à l’émancipation intellectuelle, financière et spirituelle du Peuple Noir</p>
							<p style="color:#606060;">
								T-Series <i class="fas fa-check-circle"></i><br>
								70M views 7 months ago
							</p>
						</div>

					</div>
				</div>
			</a>
		</div>
		<div class="col-md-4 p-2">
			<a href="">
				<div class="card">
					<img src="{% static 'images/ABLACKADABRA.png' %}" alt="image" height="174" />
					<div class="row">
						<div class="col-2 mt-3">
							<img id="img" width="48" src="{% static 'images/logo user.jpg' %}" class="rounded-circle">
						</div>
						<div class="col-10 mt-3">
							<p class="text-dark mb-2" title="Ablackadabra est un site exclusivement dédié à la Communauté Noire internationale. Plus qu’un simple site Internet, c’est un lieu de participation collaborative dédié à l’émancipation intellectuelle, financière et spirituelle du Peuple Noir">Ablackadabra est un site exclusivement dédié à la Communauté Noire internationale. Plus qu’un simple site Internet, c’est un lieu de participation collaborative dédié à l’émancipation intellectuelle, financière et spirituelle du Peuple Noir</p>
							<p style="color:#606060;">
								T-Series <i class="fas fa-check-circle"></i><br>
								70M views 7 months ago
							</p>
						</div>

					</div>
				</div>
			</a>
		</div>
        <div class="col-md-4 p-2">
			<a href="">
				<div class="card">
					<img src="{% static 'images/ABLACKADABRA.png' %}" alt="image" height="174" />
					<div class="row">
						<div class="col-2 mt-3">
							<img id="img" width="48" src="{% static 'images/logo user.jpg' %}" class="rounded-circle">
						</div>
						<div class="col-10 mt-3">
							<p class="text-dark mb-2" title="Ablackadabra est un site exclusivement dédié à la Communauté Noire internationale. Plus qu’un simple site Internet, c’est un lieu de participation collaborative dédié à l’émancipation intellectuelle, financière et spirituelle du Peuple Noir">Ablackadabra est un site exclusivement dédié à la Communauté Noire internationale. Plus qu’un simple site Internet, c’est un lieu de participation collaborative dédié à l’émancipation intellectuelle, financière et spirituelle du Peuple Noir</p>
							<p style="color:#606060;">
								T-Series <i class="fas fa-check-circle"></i><br>
								70M views 7 months ago
							</p>
						</div>

					</div>
				</div>
			</a>
		</div>
		<div class="col-md-4 p-2">
			<a href="">
				<div class="card">
					<img src="{% static 'images/ABLACKADABRA.png' %}" alt="image" height="174" />
					<div class="row">
						<div class="col-2 mt-3">
							<img id="img" width="48" src="{% static 'images/logo user.jpg' %}" class="rounded-circle">
						</div>
						<div class="col-10 mt-3">
							<p class="text-dark mb-2" title="Ablackadabra est un site exclusivement dédié à la Communauté Noire internationale. Plus qu’un simple site Internet, c’est un lieu de participation collaborative dédié à l’émancipation intellectuelle, financière et spirituelle du Peuple Noir">Ablackadabra est un site exclusivement dédié à la Communauté Noire internationale. Plus qu’un simple site Internet, c’est un lieu de participation collaborative dédié à l’émancipation intellectuelle, financière et spirituelle du Peuple Noir</p>
							<p style="color:#606060;">
								T-Series <i class="fas fa-check-circle"></i><br>
								70M views 7 months ago
							</p>
						</div>

					</div>
				</div>
			</a>
		</div>
        <div class="col-md-4 p-2">
			<a href="">
				<div class="card">
					<img src="{% static 'images/ABLACKADABRA.png' %}" alt="image" height="174" />
					<div class="row">
						<div class="col-2 mt-3">
							<img id="img" width="48" src="{% static 'images/logo user.jpg' %}" class="rounded-circle">
						</div>
						<div class="col-10 mt-3">
							<p class="text-dark mb-2" title="Ablackadabra est un site exclusivement dédié à la Communauté Noire internationale. Plus qu’un simple site Internet, c’est un lieu de participation collaborative dédié à l’émancipation intellectuelle, financière et spirituelle du Peuple Noir">Ablackadabra est un site exclusivement dédié à la Communauté Noire internationale. Plus qu’un simple site Internet, c’est un lieu de participation collaborative dédié à l’émancipation intellectuelle, financière et spirituelle du Peuple Noir</p>
							<p style="color:#606060;">
								T-Series <i class="fas fa-check-circle"></i><br>
								70M views 7 months ago
							</p>
						</div>

					</div>
				</div>
			</a>
		</div>
		<div class="col-md-4 p-2">
			<a href="">
				<div class="card">
					<img src="{% static 'images/ABLACKADABRA.png' %}" alt="image" height="174" />
					<div class="row">
						<div class="col-2 mt-3">
							<img id="img" width="48" src="{% static 'images/logo user.jpg' %}" class="rounded-circle">
						</div>
						<div class="col-10 mt-3">
							<p class="text-dark mb-2" title="Ablackadabra est un site exclusivement dédié à la Communauté Noire internationale. Plus qu’un simple site Internet, c’est un lieu de participation collaborative dédié à l’émancipation intellectuelle, financière et spirituelle du Peuple Noir">Ablackadabra est un site exclusivement dédié à la Communauté Noire internationale. Plus qu’un simple site Internet, c’est un lieu de participation collaborative dédié à l’émancipation intellectuelle, financière et spirituelle du Peuple Noir</p>
							<p style="color:#606060;">
								T-Series <i class="fas fa-check-circle"></i><br>
								70M views 7 months ago
							</p>
						</div>

					</div>
				</div>
			</a>
		</div>
        <div class="col-md-4 p-2">
			<a href="">
				<div class="card">
					<img src="{% static 'images/ABLACKADABRA.png' %}" alt="image" height="174" />
					<div class="row">
						<div class="col-2 mt-3">
							<img id="img" width="48" src="{% static 'images/logo user.jpg' %}" class="rounded-circle">
						</div>
						<div class="col-10 mt-3">
							<p class="text-dark mb-2" title="Ablackadabra est un site exclusivement dédié à la Communauté Noire internationale. Plus qu’un simple site Internet, c’est un lieu de participation collaborative dédié à l’émancipation intellectuelle, financière et spirituelle du Peuple Noir">Ablackadabra est un site exclusivement dédié à la Communauté Noire internationale. Plus qu’un simple site Internet, c’est un lieu de participation collaborative dédié à l’émancipation intellectuelle, financière et spirituelle du Peuple Noir</p>
							<p style="color:#606060;">
								T-Series <i class="fas fa-check-circle"></i><br>
								70M views 7 months ago
							</p>
						</div>

					</div>
				</div>
			</a>
		</div>
		<div class="col-md-4 p-2">
			<a href="">
				<div class="card">
					<img src="{% static 'images/ABLACKADABRA.png' %}" alt="image" height="174" />
					<div class="row">
						<div class="col-2 mt-3">
							<img id="img" width="48" src="{% static 'images/logo user.jpg' %}" class="rounded-circle">
						</div>
						<div class="col-10 mt-3">
							<p class="text-dark mb-2" title="Ablackadabra est un site exclusivement dédié à la Communauté Noire internationale. Plus qu’un simple site Internet, c’est un lieu de participation collaborative dédié à l’émancipation intellectuelle, financière et spirituelle du Peuple Noir">Ablackadabra est un site exclusivement dédié à la Communauté Noire internationale.</p>
							<p style="color:#606060;">
								T-Series <i class="fas fa-check-circle"></i><br>
								70M views 7 months ago
							</p>
						</div>
					</div>
				</div>
			</a>
		</div>

	</div>
</div>

</div>
</div>

