{% load static %}
{% include 'base.html' %}

{% block content %}

            <div class="container-fluid pt-4 px-4">
    <div class="row g-4">
    <div class="col-sm-12 col-xl-12">
        <div class="bg-secondary rounded h-100 p-4">

            <h5 class="mb-4" style="color: #8c5a0d">Mes abonnements</h5>

{% if channels %}
<div class="testimonial-item text-center">
  {% for c in channels %}
    {% if forloop.counter0|divisibleby:8 %}
      <div class="row">
    {% endif %}
    <div class="col-md-1">
      <img class="img-fluid rounded-circle mx-auto mb-2" src="{% if c.channel.image %}{{ c.channel.image.url }}{% else %}{% static 'images/profile1.jpg' %}{% endif %}" style="width: 50px; height: 50px;">
      <h5 class="mb-1" style="font-size: 12px">{{ c.channel.name }}</h5>
      <h5 class="mb-1">{{ c.description }}</h5>
    </div>
    {% if forloop.counter0|add:1|divisibleby:8 or forloop.last %}
      </div>
    {% endif %}
  {% endfor %}
</div>
{% else %}
<h6>Vous n'avez auccune abonnement sur muntube..</h6>
{% endif %}

        </div>
    </div>

    <!-- Widget Start -->
    <div class="container-fluid ">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-2">
                                <h6 class="mb-0" style="color: #8c5a0d">Abonnements</h6>
                                <a style="font-size: 13px" class="text-muted" href="">Afficher tout</a>
                            </div>
                            {% for c in channels %}
                                <div class="d-flex align-items-center border-bottom py-3">
                                <img class="rounded-circle flex-shrink-0" src="{% static 'images/logo muntube.svg' %}" alt="" style="width: 40px; height: 40px;">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="mb-0">{{ c.channel.name }}</h6>
                                        <small class="text-muted">~{{ c.channel.owner.username }}</small>
                                    </div>
                                    <span></span>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0" style="color: #8c5a0d">Mes liens sauvegardés</h6>
                                 <a style="font-size: 13px" class="text-muted" href="">Afficher tout</a>
                            </div>
                            {% for c in links %}
                                <div class="d-flex align-items-center border-bottom py-3">
                                <img class="rounded-circle flex-shrink-0" src="{% static 'images/logo muntube.svg' %}" alt="" style="width: 40px; height: 40px;">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="mb-0">{{ c.link }}</h6>
                                        <small>....</small>
                                    </div>
                                    <span></span>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

    </div>
    </div>

        {% endblock %}
{% include 'footer.html' %}