{% load static %}

{% block content %}
    {% include 'base.html' %}
  <div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
    <div class="mb-5"></div>

<!-- main content -->
  <div class="row col-12 mb-lg-5">
    <div class="container-fluid col-10">
    <form action="{% url 'addvideo' %}" method="post"enctype="multipart/form-data">
        {% csrf_token %}
        <input name="id" type="hidden" class="custom-file-input" value="{{ user.id }}" id="inputGroupFile01">
        <label for="defaultFormControlInput" class="form-label text-white">Choisir une vidéo</label>
        <div class="input-group">
        <input
          name="video"
          type="file"
          class="form-control mb-3"
          placeholder="Choisir une vidéo"
          id="defaultFormControlInput"
          aria-describedby="inputGroupFileAddon04"
          aria-label="Upload"
        />
        </div>
        <label for="inputGroupFile04" class="form-label text-white">Choisir une miniature</label>
        <div class="input-group">
        <input
          name="image"
          type="file"
          class="form-control mb-3"
          id="inputGroupFile04"
          aria-describedby="inputGroupFileAddon04"
          aria-label="Upload"
        />
        </div>
        <div class="input-group">
            <span class="input-group-text mb-3">Titre de la vidéo</span>
            <textarea class="form-control mb-3" name="titre" aria-label="With textarea" placeholder="Titre"></textarea>
          </div>
         <div class="input-group">
            <span class="input-group-text mb-3">Description</span>
            <textarea class="form-control mb-3" name="description" aria-label="With textarea" placeholder="Description"></textarea>
          </div>
            <button type="submit" class="btn rounded-pill btn-outline-secondary" style="color: #233446;
    border-color: #d9dee3;
    background: #fcfdfd;">Ajouter</button>
    </form>

</div>
    </div>
    </div>
  </div>


{% include 'membre/footer.html' %}
{% endblock %}
