{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>MunTube</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<style>
    :root {
    --primary: #9c999a;
    --secondary: #191C24;
    --light: #6C7293;
    --dark: #000000;
}

    .mobile-nav {
  background: #000;
  position: fixed;
  bottom: 0;
  height: 65px;
  width: 100%;
  display: flex;
  justify-content: space-around;
        z-index:10;
}
    .bloc-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
    .bloc-icon img {
  width: 30px;
}
    @media screen and (min-width: 600px) {
  .mobile-nav {
  display: none;
  }
}
</style>

    <div class="container-fluid position-relative d-flex p-0">



        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-secondary navbar-dark">
                <a href="{% url 'index' %}" class="navbar-brand mx-4 mb-3">
                    <img width="110%" height="" src="{% static 'images/logo-muntube-blanc.png' %}">
                </a>
                <!--<div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="{% static 'img/user.jpg' %}" alt="" style="width: 40px; height: 40px;">
                        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">Jhon Doe</h6>
                        <span>Admin</span>
                    </div>
                </div>-->
                <div  class="navbar-nav w-100">
                    <a href="{% url 'index' %}" class="nav-item nav-link"><i  style="background-color: #B88E6D; color: #000"class="fa fa-book me-2"></i><strong style="color: white">Accueil</strong></a>
                    <a href="{% url 'bibliothèque' %}" class="nav-item nav-link"><i  style="background-color: #B88E6D; color: #000"class="fa fa-book me-2"></i><strong style="color: white">Bibliothèque</strong></a>
                    <a href="{% url 'maintenance' %}" class="nav-item nav-link"><i style="background-color: #B88E6D; color: #000" class="fa fa-history me-2"></i><strong style="color: white">Historique</strong></a>
                    <a href="{% url 'a_regarder' %}" class="nav-item nav-link"><i style="background-color: #B88E6D; color: #000" class="fa fa-eye me-2"></i><strong style="color: white">A regarder</strong></a>
                    <a href="{% url 'vidéosjaime' %}" class="nav-item nav-link"><i style="background-color: #B88E6D; color: #000" class="fa fa-star me-2"></i><strong style="color: white">Vidéos "j'aime"</strong></a>
                    <a><hr></a>
                    <a href="{% url 'chaine' %}" class="nav-item nav-link"><i style="background-color: #B88E6D; color: #000" class="fa fa-photo-video me-2"></i><strong style="color: white">Chaîne</strong></a>
                    <a href="{% url 'upload' %}" class="nav-item nav-link"><i style="background-color: #B88E6D; color: #000" class="fa fa-video me-2"></i><strong style="color: white">Créer</strong></a>
                    <a><hr></a>
                    <a href="{% url 'maintenance' %}" class="nav-item nav-link"><i style="background-color: #B88E6D; color: #000" class="fa fa-chart-bar me-2"></i><strong style="color: white">Aide</strong></a>
                    <a><hr></a>
                    <a href="" class="nav-item nav-link"><i style="background-color: #B88E6D; color: #000" class="fa fa-hands-helping me-2"></i><strong style="color: white">Nous Soutenir</strong></a>
                    <a><hr></a>
                    <a style="padding-left: 10px; color: #B88E6D"><i class="fa fa-copyright"></i><strong>
                        2023 par STEAM BEAM<br>
                        Tout droits réservés
                    </strong></a>
                </div>
            </nav>
        </div>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
                <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa fa-"></i></h2>
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0" style="color: #B88E6D;
                text-decoration: none;">
                    <i class="fa fa-bars"></i>
                </a>

                <div class="navbar-nav align-items-center ms-auto">
                    <!--<div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-envelope me-lg-2"></i>
                            <span class="d-none d-lg-inline-flex">Message</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item text-center">See all message</a>
                        </div>
                    </div>-->
                    <form class="navbar-nav">
                        <input class="form-control bg-dark border-0" type="search" placeholder="Search">
                    </form>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link" data-bs-toggle="dropdown">
                            <i style="background-color: #A77443;color: white" class="fa fa-bell me-lg-2"></i>
                            <span class="d-none d-lg-inline-flex"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">Profil mis à jour</h6>
                                <small>Il ya 15 minutes</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">nouvelle vidéo ajoutée</h6>
                                <small>Il ya 15 minutes</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">Mot de passe changé</h6>
                                <small>Il ya 15 minutes</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item text-center">Voir toutes</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                    {% if user.is_authenticated %}
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <img class="rounded-circle me-lg-2" src="{{ user.photo.url }}" alt="" style="width: 40px; height: 40px;">
                            <span class="d-none d-lg-inline-flex"><strong class="text-white">{{ user.username }}</strong></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                            {% if user.is_authenticated %}
                            <a href="{% url 'monprofile' user.pk %}" class="dropdown-item text-white">Mon Profile</a>
                            {% endif %}
                            <hr>
                            <a href="{% url 'chaine' %}" class="dropdown-item text-white">Ma chaîne</a>
                            <a href="#commentaires" class="dropdown-item text-white">Commentaires</a>
                            <a href="#stats" class="dropdown-item text-white">Statistiques</a>
                            <a href="#don" class="dropdown-item text-white">Mes dons reçus </a>
                            <a href="#mesfilleuls" class="dropdown-item text-white">Mes filleuls professionnels</a>
                            <hr>
                            <a href="{% url 'logout_view' %}" class="dropdown-item text-white">Se déconnecter</a>
                        </div>
                    {% else %}
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <img class="rounded-circle me-lg-2" src="{% static 'images/profile1.jpg' %}" alt="" style="width: 40px; height: 40px;">
                            <span class="d-none d-lg-inline-flex"><strong class="text-white">Se connecter</strong></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                            {% if user.is_authenticated %}
                            <a href="{% url 'monprofile' user.pk %}" class="dropdown-item">Mon Profile</a>
                            {% endif %}

                            <a href="{% url 'stockage' %}" class="dropdown-item text-white">Acheter un stockage</a>
                            <hr>
                            <a href="{% url 'login' %}" class="dropdown-item text-white">Se connecter</a>
                        </div>
                    {% endif %}
                    </div>
                </div>
            </nav>
            <!-- Navbar End -->

        <!-- Nav Mobile -->

        <div class="mobile-nav">
            <a href="{% url 'index' %}" class="bloc-icon">
                <button style="background-color: #533f03; color: #fdecdd" type="button" class="btn btn-lg btn-lg-square  m-2"><i class="fa fa-home"></i></button>
            </a>
            <a href="{% url 'bibliothèque' %}" class="bloc-icon">
                <button style="background-color: #533f03; color: #fdecdd" type="button" class="btn btn-lg btn-lg-square  m-2"><i class="fa fa-book"></i></button >           </a>
            </a>
            <a href="{% url 'upload' %}" class="bloc-icon">
                <button style="background-color: #533f03; color: #fdecdd" type="button" class="btn btn-lg btn-lg-square  m-2"><i class="fa fa-plus"></i></button>            </a>
            </a>
            <a href="{% url 'chaine' %}" class="bloc-icon">
                <button style="background-color: #533f03; color: #fdecdd" type="button" class="btn btn-lg btn-lg-square  m-2"><i class="fa fa-photo-video"></i></button>            </a>
            </a>
            <a href="{% url 'monprofile' user.pk %}" class="bloc-icon">
                <button style="background-color: #533f03; color: #fdecdd" type="button" class="btn btn-lg btn-lg-square  m-2"><i class="fa fa-user"></i></button>            </a>
            </a>
        </div>

        <!--<a style="background-color: #B88E6D" href="#" class="ouverture_sidebar btn btn-lg btn-warning sidebar-toggler fixed btn-lg-square back-to-top"><i class="fa fa-bars"></i></a>-->

    {% block content %}

    {% endblock %}