{% load static %}
{% include 'base.html' %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js" rel="stylesheet"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" rel="stylesheet"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>

<style>
    .btn-video {
    color: #000;
    background-color: #d3be93;
    border-color: #594110;
    box-shadow: 0 0.125rem 0.25rem 0 rgb(255 171 0 / 40%);
}

element.style {
}
.nav-tabs:not(.nav-fill):not(.nav-justified) .nav-link, .nav-pills:not(.nav-fill):not(.nav-justified) .nav-link {
    width: 100%;
}
.nav-pills .nav-link.active, .nav-pills .nav-link.active:hover, .nav-pills .nav-link.active:focus {
    background-color: #ba7900;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgba(70, 40, 9, 0.81);
}
</style>

{% block content %}
<div class="layout-overlay layout-menu-toggle"></div>
<!--Container Main start-->

  <!-- Content wrapper -->
  <div class="content-wrapper">
    <!-- Content -->

	<!-- main content -->
	<div class="container-fluid watch_video">
		<div class="row pt-4">
        {% for v in video %}
			<div class="col-md-8 video_box">
                    <video width="650" class="embed-responsive embed-responsive-16by9" controls="controls" >
                        <source src="{{ v.vid.url }}" type="video/mp4" />
                    </video>
				<div class="p-1 pt-3">
					<p class="title" style="color: black">{{ v.title }}</p>
					<div class="row mt-2 border-bottom">
						<div class="col-7">
							<div style="color:#606060;">71,101,624 views • Sep 26, 2019</div>
						</div>
						<div class="col-5 text-right">
							<div class="row">
                                <div class="col-3 "></div>
								<div class="col-3 border-bottom border-dark">
									<a href="#" style="color:#606060;" title="I like this">
									<svg style="height: 18px; width: 18px;margin: auto;" viewBox="0 0 24 24">
									  <path d="M1 21h4V9H1v12zm22-11c0-1.1-.9-2-2-2h-6.31l.95-4.57.03-.32c0-.41-.17-.79-.44-1.06L14.17 1 7.59 7.59C7.22 7.95 7 8.45 7 9v10c0 1.1.9 2 2 2h9c.83 0 1.54-.5 1.84-1.22l3.02-7.05c.09-.23.14-.47.14-.73v-1.91l-.01-.01L23 10z"  fill="#606060"></path>
									</svg> 500K
									</a>
								</div>
								<!--<div class="col-3 border-bottom border-dark">
									<a href="#" style="color:#606060;" title="I dislike this">
										<svg style="height: 18px; width: 18px;margin: auto;" viewBox="0 0 24 24">
									  <path d="M15 3H6c-.83 0-1.54.5-1.84 1.22l-3.02 7.05c-.09.23-.14.47-.14.73v1.91l.01.01L1 14c0 1.1.9 2 2 2h6.31l-.95 4.57-.03.32c0 .41.17.79.44 1.06L9.83 23l6.59-6.59c.36-.36.58-.86.58-1.41V5c0-1.1-.9-2-2-2zm4 0v12h4V3h-4z" fill="#606060"></path></svg> 17K
									</a>
								</div>-->
								<div class="col-3">
									<a href="#" style="color:#606060;" title="Share">
										<svg style="height: 18px; width: 18px;margin: auto;" viewBox="0 0 24 24">
									  <path d="M11.7333 8.26667V4L19.2 11.4667L11.7333 18.9333V14.56C6.4 14.56 2.66667 16.2667 0 20C1.06667 14.6667 4.26667 9.33333 11.7333 8.26667Z" fill="#606060"></path></svg> SHARE
									</a>
								</div>
								<div class="col-3">
									<a href="#" style="color:#606060;" title="Save">
										<svg style="height: 18px; width: 18px;margin: auto;" viewBox="0 0 24 24">
									 <path d="M14 10H2v2h12v-2zm0-4H2v2h12V6zm4 8v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zM2 16h8v-2H2v2z"  fill="#606060"></path></svg> SAVE
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="row mt-4 border-bottom ">
						<div class="col-1 pr-0 w-2 text-right">
							<img id="img" width="48" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwme89cM8YZvHcybGrZl_Obd9U9p5QabozJQ&usqp=CAU" class="rounded-circle">
						</div>
						<div class="col-9 pl-0">
							<p style="color:#303030;">
								<b>Mockup World</b> <i class="fas fa-check"></i><br>
								<span style="color:#606060">139M subscribers</span>
							</p>
							<p>Presenting the full video "KHAIRIYAT (BONUS TRACK)" from the Bollywood movie "CHHICHHORE". The film is directed by Nitesh Tiwari and produced by Sajid Nadiadwala under the banner of Nadiadwala Grandson Entertainment. The film stars Sushant Singh Rajput, Shraddha Kapoor, Varun Sharma, Prateik Babbar and follows the lives of seven friends from 1992 to present day.<span id="dots">...</span>
							<span id="more">erisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta.</span>
							</p>
							<button onclick="myFunction()" id="myBtn" class="btn">SHOW MORE</button>
						</div>
						<div class="col-2 text-right">
							<button class="btn btn-warning">SUBSCRIBE</button>
						</div>

					</div>
					<div class="row mb-4">
						<div class="col-12 m-4" style="color: #303030; font-weight: bold">10,699 Comments</div>
						<div class="col-1">
							<img id="img" width="30" src="images/icon/avatar.png" class="rounded-circle">
						</div>
						<div class="col-11">
							<form>
								<input type="text" name="comment" class="input_comment" placeholder="Add a public comment...">
							</form>
						</div>
					</div>
					<!-- <div class="row mt-4">
						<div class="col-1">
							<img id="img" width="48" src="images/icon/avatar.png" class="rounded-circle">
						</div>
						<div class="col-11">
							<div><b>Vasudha Deshpande</b> 3 months ago</div>
							<div>Mummy ke taane aur arijit ke gaane... Dil ko chhu jaate hain❤😘</div>
						</div>
					</div>
					<div class="row mt-4">
						<div class="col-1">
							<img id="img" width="48" src="images/icon/avatar.png" class="rounded-circle">
						</div>
						<div class="col-11">
							<div><b>Vasudha Deshpande</b> 3 months ago</div>
							<div>Mummy ke taane aur arijit ke gaane... Dil ko chhu jaate hain❤😘</div>
						</div>
					</div> -->
				</div>
			</div>
        {% endfor %}

			<!--<div class="col-md-4">
				<div class="container-fluid video_list">
					<a href="#">
						<div class="card">
							<div class="row p-0">
								<div class="col-md-5">
                                        <img class="video_list_responsive" src="https://i.ytimg.com/vi/hoNb6HuNmU0/hq720.jpg" alt="image" width="100%" height="94" />
								</div>
								<div class="col-md-7 p-0">
										<p class="mb-1 title" title="Full Song: KHAIRIYAT (BONUS TRACK) | CHHICHHORE | Sushant, Shraddha | Pritam, Amitabh B|Arijit Singh">Full Song: KHAIRIYAT (BONUS TRACK) | CHHICHHORE | Sushant, Shraddha | Pritam, Amitabh B|Arijit Singh</p>
											<p style="color:#000000;">
												T-Series <i class="fas fa-check-circle"></i> <br>
												70M views • 7 months ago
											</p>
								</div>
							</div>
						</div>
						</a>
				</div>
			</div>-->

		</div>
	</div>

		<!-- main content -->

		<script src="js/jquery-3.5.1.min.js"></script>
		<script src="js/popper.min.js"></script>
		<script src="js/bootstrap.min.js"></script>

		<script>
			$(document).ready(function(){
				$('[data-toggle="tooltip"]').tooltip();
			});

function myFunction() {
  var dots = document.getElementById("dots");
  var moreText = document.getElementById("more");
  var btnText = document.getElementById("myBtn");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "SHOW MORE";
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "SHOW LESS";
    moreText.style.display = "inline";
  }
}


</script>
{% endblock %}

{% include 'footer.html' %}