{% load static %}

{% include 'base.html' %}
<style>
    .comment-text {
    font-size: 13px
}

.wish {
    color: #35b69f
}

.user-feed {
    font-size: 14px;
    margin-top: 12px
}
</style>

{% block content %}
   <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-12 col-md-12 col-xl-8">
            {% for v in video %}
                <div class="row col-12 video_box">
                        <video width="100%" class=" embed-responsive embed-responsive-16by9 col-md-12" poster="" controls="controls" >
                            <source src="{{ v.vid.url }}" type="video/mp4" />
                                <track
                            label="English"
                            kind="subtitles"
                            srclang="en"
                            src="captions/vtt/sintel-en.vtt"
                            default />
                                <track
                                label="Deutsch"
                                kind="subtitles"
                                srclang="de"
                                src="captions/vtt/sintel-de.vtt" />
                                <track
                                label="Español"
                                kind="subtitles"
                                srclang="es"
                                src="captions/vtt/sintel-es.vtt" />
                        </video>
                    <div class="col-sm-12 col-md-12 col-xl-12">
                      <div style="background-color: #191C24; " class="card mb-2">
                        <h5 class="card-header" style="color: #fdecdd">{{ v.title }}</h5>
                       <span class="container-fluid fw-semibold" style="color: #6e6a69">{{ count }} views • {{ v.date_created.date }}</span>
                      <hr class="mt-2">
                        <div class="card-body">
                        <div class="container-fluid">
                            <div class="row g-3">
                            <table class="mt-0">
                                <tr>
                                    <td>
                                        {% if user.is_authenticated %}
                                        <form action="{% url 'like_video' v.pk %}" method="post">
                                            {% csrf_token %}
                                            <button  style="background-color: #533f03" class="btn rounded-pill btn-outline-secondary btn-xs align-content-center" type="submit" name="video_id" value="{{ v.id }}" style="color:#606060;" title="I like this">
                                                <i class="fa fa-heart"></i>
                                            </button>
                                            <span class="align-middle" style="color: #fdecdd"><span class="me-2">{{ v.total_likes }}</span> J'aime</span>
                                        </form>
                                        {% else %}

                                            <button style="background-color: #533f03" class="btn rounded-pill btn-outline-secondary btn-xs align-content-center" type="submit" name="video_id" value="{{ v.id }}" style="color:#606060;" title="I like this">
                                                <i class="fa fa-heart"></i>
                                            </button>
                                            <span class="align-middle text-white"><span class="me-2">{{ v.total_likes }}</span> J'aime</span>

                                    {% endif %}
                                    </td>
                                    <td>
                                        <form>
                                            {% load social_share %}
                                        <button style="background-color: #533f03" class="btn rounded-pill btn-outline-secondary btn-xs align-content-center" type="submit" name="video_id" value="{{ v.id }}" style="color:#606060;" title="I like this">
                                            <i class="fa fa-share">{% post_to_facebook object_or_url "<p style='color: green;'>facebook</p>" %}</i>
                                        </button>
                                        <span class="align-middle" style="color: #fdecdd"> Partager</span>
                                    </form>
                                    </td>
                                    <td>
                                        <button style="background-color: #533f03" data-bs-toggle="dropdown" class=" btn rounded-pill btn-outline-secondary btn-xs align-content-center" >
                                        <i class="fa fa-ellipsis-h"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-start bg-black border-0 rounded-0 rounded-bottom m-0">
                                        {% if user.is_authenticated %}
                                        <form>
                                             {% csrf_token %}
                                            <button class="dropdown-item" type="submit" value="{{ v.id }}" name="id_video">
                                                <i class="fa fa-flag me-3"></i><span class="align-middle text-black">Signaler</span>
                                            </button>
                                        </form>
                                        <form action="{% url 'save_video' v.pk %}" method="post">
                                            {% csrf_token %}
                                            <button class="dropdown-item" type="submit" value="{{ v.id }}" name="id_video">
                                                <i class="fa fa-save me-3"></i><span class="align-middle text-black">À regarder</span>
                                            </button>
                                        </form>
                                        {% else %}
                                            <form>
                                             {% csrf_token %}
                                                <button class="dropdown-item" type="submit" value="{{ v.id }}" name="id_video">
                                                    <i class="fa fa-flag me-3"></i><span class="align-middle text-black">Signaler</span>
                                                </button>
                                            </form>
                                            <form action="{% url 'login' %}" method="post">
                                                {% csrf_token %}
                                                <button class="dropdown-item" type="submit" value="{{ v.id }}" name="id_video">
                                                    <i class="fa fa-save me-3"></i><span class="align-middle text-black">Enregistrer</span>
                                                </button>
                                                </form>
                                        {% endif %}
                                    </div>
                                    </td>
                                </tr>
                            </table>
                            </div>
                        </div>
                        <hr>
                        <div class="container-fluid">
                            <div class="row g-3">
                                <table>
                                    <tr>
                                        <td rowspan="2">
                                            <img id="img" width="48" src="{{ v.user.photo.url }}" class="rounded-circle">
                                        </td>
                                        <td>
                                             <span style="color:white;">
                                                <b>{{ v.user.username }}</b> <i class="fas fa-check-circle me-2"></i>
                                             </span>
                                        </td>
                                        <td rowspan="2">
                                            {% if user.is_authenticated %}
                                                {% if all_chaine.id == v.user.id %}
                                                    <form action="{% url 'abonni_video' v.pk %}" method="post">
                                                        {% csrf_token %}
                                                        <button disabled style="background-color: #533f03" type="submit" name="chaine_id" value="{{ v.user.id }}" class="btn rounded-pill btn-outline-secondary">
                                                            <i class="fa fa-bell"></i>
                                                            <span style="color: white">S'abonner</span>
                                                        </button>
                                                    </form>
                                                {% else %}
                                                    <form action="{% url 'abonni_video' v.pk %}" method="post">
                                                        {% csrf_token %}
                                                        <button style="background-color: #533f03" type="submit" name="chaine_id" value="{{ v.user.id }}" class="btn rounded-pill btn-outline-secondary">
                                                            <i class="fa fa-bell"></i>
                                                            <span style="color: white">S'abonner</span>
                                                        </button>
                                                    </form>
                                                {% endif %}
                                            {% else %}
                                                <form action="{% url 'login' %}" method="post">
                                                    {% csrf_token %}
                                                    <button style="background-color: #533f03" type="submit" name="chaine_id" value="{{ v.user.id }}" class="btn rounded-pill btn-outline-secondary">
                                                        <i class="fa fa-bell"></i>
                                                        <span style="color: white">S'abonner</span>
                                                    </button>
                                                </form>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span style="color:white">111 abonnés</span>
                                        </td>
                                    </tr>
                                </table>
                                <div class="col-sm-4 col-md-4 col-xl-1">
                                </div>
                            </div>
                        </div>

                        <div class="row g-4">
                            <div class="col-sm-4 col-xl-4"></div>
                            <div class="col-sm-4 col-xl-4">
                                <div class=" rounded d-flex align-items-center justify-content-between p-0">
                                    <form action="{% url 'charge' %}" method="post">
                                        {% csrf_token %}
                                        <table>
                                        <thead class="mt-0">
                                        <th colspan="4" class="text-center ml-0"><h3><strong class="text-success">SOUTENIR</strong></h3></th>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td rowspan="2"><i class="fa fa-hands-helping me-4 fa-3x text-white"></i></td>
                                            <td colspan="2">
                                                <button onclick="plusClick()" style="background-color: #533f03" type="button" class="btn rounded-circle btn-outline-warning me-2">
                                                        <i class="fa fa-plus-circle"></i>
                                                    </button>
                                            </td>
                                            <td rowspan="2">
                                                <h1><div data-value="clicks" type="number" class="text-success me-2" id="clicks">10<span>€</span></div></h1>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <button onclick="moinsClick()" style="background-color: #533f03" type="button" class="btn rounded-circle btn-outline-warning">
                                                    <i class="fa fa-minus-circle"></i>
                                                </button>
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td colspan="5">
                                            <script
                                            src="https://checkout.stripe.com/checkout.js"
                                            class="stripe-button"
                                            data-key="pk_test_51M1tNCEz9Ud4aklFU5kzTrhh2VRwayYc9fZJUwYfBmjhONmU8iuR2FJlukifPLdtrcQVrOD2dTXveU35LGR1f3GH00EBAj2zaV"
                                            data-name="Gold Tier"
                                            data-description="Monthly subscription with 30 days trial"
                                            data-amount= "cout_don"
                                            data-label="SOUTENIR">
                                                const form = document.querySelector("form");
                                                const cout_don = document.getElementById("clicks").textContent
                                                const csrf = document.getElementsByName("csrfmiddlewaretoken")[0].value;
                                                console.log(csrf);
                                                form.addEventListener("submit", e =>{
                                                    e.preventDefault();
                                                    const newform = new FormData();
                                                    newform.append("cout_don", cout_don.value);
                                                    newform.append("csrfmiddlewaretoken", csrf);
                                                    fetch("{% url 'charge' %}",{
                                                      method: "post",
                                                        body: newform,
                                                    });
                                                });

                                          </script>
                                        </td>
                                        </tr>
                                        </tbody>

                                    </table>
                                    </form>

                                    <script>
                                        var clicks = 10;
                                        document.getElementById("clicks").innerHTML = 10;
                                        function plusClick() {
                                          clicks += 5;
                                          document.getElementById("clicks").innerHTML = clicks;
                                        };
                                        function moinsClick() {
                                          clicks -= 5;
                                          document.getElementById("clicks").innerHTML = clicks;
                                        };
                                        function getAndSetText(){
                                            var setText= document.getElementById('clicks').value;
                                            document.getElementById('setText').value= setText;
                                        }
                                    </script>
                                    <div class="ms-3">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xl-4"></div>
                         </div>

                                                <div style="color: #b9b7b7">
                            <p>{{ v.detail }}
                                <span id="dots">...</span>
                                <span id="more"></span>
                            </p>
                        </div>
                        <button onclick="myFunction()" id="myBtn" class="btn">MONTRE PLUS</button>
                        </div>
                      </div>
                    <div class="col-sm-12 col-xl-12">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">Liens utiles et Documents</h6>
                            <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <button style="color: white" class="nav-link active" id="nav-home-tab" data-bs-toggle="tab"
                                        data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                                        aria-selected="true">Liens Utiles</button>
                                    <button style="color: white" class="nav-link" id="nav-profile-tab" data-bs-toggle="tab"
                                        data-bs-target="#nav-profile" type="button" role="tab"
                                        aria-controls="nav-profile" aria-selected="false">Documents</button>
                                </div>
                            </nav>
                            <div class="tab-content pt-3" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                    <div class="col-sm-12 col-xl-12">
                                        <div class="bg-secondary rounded h-100">
                                            {% if v.link %}
                                            <div class="alert alert-primary" style="background-color: #533f03; color: white" role="alert">
                                                <p>Ouvrir le lien <a href="{{ v.link }}">Link</a>.</p>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                     <div class="col-sm-12 col-xl-12">
                                        <div class="bg-secondary rounded h-100">
                                            {% if v.documents %}
                                            <div class="alert alert-primary" style="background-color: #533f03; color: white" role="alert">
                                                <p>Ouvrir le fichier PDF <a href="{{ v.documents.url }}">example</a>.</p>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <!-- commentaires -->
                        <section>
                          <div class="my-2 ">
                            <div class="row d-flex justify-content-center">
                              <div class="col-md-12 col-lg-12">
                                <div style="background-color: #191C24; " class="card text-dark">

                                      <div class="card-body p-4">
                                        <p class="mb-0">
                                            <p style="color: #b9b7b7">{{ v.total_comments }} commentaires</p>
                                        </p>
                                      <form action="{% url 'commenter' v.id %}" method="post">
                                              {% csrf_token %}
                                              <div class="d-flex flex-start mb-4">
                                                <img src="{{ user.photo.url }}" width="40" height="40" class="rounded-circle shadow-1-strong me-3">
                                                <input name="commentaire" type="text" class="form-control" placeholder="Entrez votre commentaire...">
                                                <input name="video" type="hidden" value="{{ v.id }}">
                                                <input name="sujet" type="hidden" value="{{ c.name }}">
                                                <input style="background: #533f03; color: white" type="submit" value="Commenter" class="btn rounded-pill btn-outline-secondary">
                                              </div>
                                          </form>
                                          {% for c in comm %}
                                              {% if c.video.id == v.id %}
                                                <!--<p class="fw-light mb-4 pb-2">Latest Comments section by users</p>-->

                                                <div style="color: #b9b7b7" class="d-flex flex-start">
                                                  <img class="rounded-circle shadow-1-strong me-3"
                                                    src="{{ user.photo.url }}" alt="avatar" width="60"
                                                    height="60" />
                                                  <div>
                                                    <h6 class="fw-bold mb-1">{{ user.username }}</h6>
                                                    <div class="d-flex align-items-center mb-2">
                                                      <p class="mb-0">
                                                        {{ c.date_added }}
                                                        <!--<span class="badge bg-primary">Pending</span>-->
                                                      </p>

                                                       <button id="myBtnRep" onclick="myFunctionReply()" class="link-muted btn">Repondre</button>
                                                        <a href="#!" class="link-muted"><i class="bx bx-heart ms-2"></i></a>
                                                    </div>
                                                    <p class="mb-3">
                                                      {{ c.contenue }}
                                                    </p>
                                                      <span id="repinput">
                                                          <div class="d-flex flex-start mb-4">
                                                          <img src="{{ user.photo.url }}" width="40" height="40" class="rounded-circle shadow-1-strong me-3">
                                                          <input  class="form-control" placeholder="Votre reponse .." >
                                                          <input class="btn rounded-pill btn-video" value="Repondre" type="submit">
                                                      </div>
                                                      </span>

                                                  </div>
                                                </div>
                                                <div class="d-flex align-items-center mb-3">
                                                      <a href="#!" class="link-muted me-3"><i class="fa fa-heart me-1"></i>232</a>
                                                      <!--<a href="#!" class="link-muted"><i class="fa fa-like me-1"></i>23</a>-->
                                                    </div>
                                                  <hr style="color:#b9b7b7;">
                                              {% endif %}
                                          {% endfor %}
                                      </div>
                                      <hr class="my-0" />
                                </div>
                              </div>
                            </div>
                          </div>
                        </section>
                    </div>
                </div>
            {% endfor %}
            </div>
            <div class="col-sm-12 col-md-12 col-xl-4">
                <div class="h-100 bg-secondary rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Recommandé</h6>
                        <a href="{% url 'index' %}">Afficher tout</a>
                    </div>
                    <div>
                        {% for v in recpmanded_video %}
                            <div class=" col-sm-12 col-xl-12">
                                <div class="rounded d-flex align-items-center justify-content-between h-100">
                                    <div style="background-color: #191C24; " class="card h-100">
                                    <a href="{% url 'video' v.id %}">
                                        <video width="100%" height="100%" class="card embed-responsive embed-responsive-16by9" controls >
                                            <source src="{{ v.vid.url }}" type="video/mp4" />
                                        </video>
                                    </a>
                                    <div class="row justify-content-between">
                                            {% if v.miniature %}
                                            <div class="col-2 mt-3 ml-1 ">
                                            {% if v.user.is_superuser %}
                                                <img id="img" width="35" src="{{ v.user.photo }}" class="rounded-circle">
                                                {% else %}
                                                <img id="img" width="35" src="{{ v.user.photo.url }}" class="rounded-circle">
                                                {% endif %}
                                            </div>
                                            {% endif %}
                                            <div class="col-10 mt-3">
                                                <a href="{% url 'video' v.id %}" class="mb-2 " style="overflow-wrap: break-word; color: #fdecdd" title="{{ v.title }}">{{ v.title }}</a>
                                                <p style="color:#B88E6D;">
                                                    {{ v.user.username }} <i class="fas fa-check-circle"></i><br>
                                                    <small>{{ count }} vues  {{ v.date_created.date }}</small>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
   </div>
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
        function myFunction() {
          var dots = document.getElementById("dots");
          var moreText = document.getElementById("more");
          var btnText = document.getElementById("myBtn");

          if (dots.style.display === "none") {
            dots.style.display = "inline";
            btnText.innerHTML = "MONTRE PLUS";
            moreText.style.display = "none";
          } else {
            dots.style.display = "none";
            btnText.innerHTML = "MONTRER MOINS";
            moreText.style.display = "inline";
          }
        }
        function myFunctionReply() {
          var replyinput = document.getElementById("repinput");
          var btnTextRep = document.getElementById("myBtnRep");

          if (btnTextRep.innerHTML === "Repondre") {
            replyinput.style.display = "inline";
            btnTextRep.innerHTML = "Annuler";

          } else {
            replyinput.style.display = "none";
            btnTextRep.innerHTML = "Repondre";
          }
        }
        function myDon() {
            var don = document.getElementById("clicks");

        }
    </script>
{% endblock %}

{% include 'footer.html' %}
